<div id="graph" style="min-width: 400px; height: 400px; margin: 0 auto"></div>


<script>
    var chart = new Highcharts.Chart({
      chart: {
          zoomType: 'xy',
          renderTo: 'graph'
      },
      title: {
          text: 'Energy App Data'
      },
      subtitle: {
          text: 'Collected from survey and SmartThing device data'
      },
      xAxis: [{
          categories: <%= @short_times.to_s.html_safe %>,
          crosshair: true
      }],
      yAxis: [
      <% @columns.each.with_index do |column, i| %>
        {
          gridLineWidth: 0,
          labels: {
              format: '{value}<%= column[:unit] %>',
              style: {
                  color: Highcharts.getOptions().colors[<%= i %>]
              }
          },
          title: {
              text: '<%= column[:name] %>',
              style: {
                  color: Highcharts.getOptions().colors[<%= i %>]
              }
          },
          min: 0,
          opposite: <%= i % 2 == 0 ? 'false' : 'true' %>
        }<%= ',' if column != @columns.last %>

      <% end %>
      ],
      tooltip: {
          shared: true
      },
      legend: {
          layout: 'vertical',
          align: 'center',
          x: 80,
          verticalAlign: 'top',
          y: 55,
          floating: true,
          backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
      },
      series: [
      <% @columns.each.with_index do |column, i| %>
        {
        <% if column[:name] == "survey_flag" %>
          type : 'flags',
          onSeries: '1',
          data: [
          <% @surveys.each do |survey| %>
            {
              x: <%= @short_times.index(survey.short_timestamp)%>,
              title: "occupants: <%=survey.occupants %>, <br>noise_level: <%=survey.noise_level %>, <br>heat_level: <%=survey.temperature_value %><br>in_out: <%= survey.in_out%>",
              text: "<%= survey.comment%>"
            }<%= ',' if survey != @surveys.last %>
          <% end %>
          ],
          width: 100,
          height: 60,
          showInLegend: false,
          shape: 'flag',
          y: -80,
          useHTML: true
        <% else %>
          id: '<%= i %>',
          name: '<%= column[:name]%>',
          type: '<%= column[:type]%>',
          yAxis: <%= i %>,
          data: <%=raw processed_events.collect{|e| e.send(column[:name] )}.to_s.gsub(/\s|"|'/, '') %>,
          tooltip: {
              valueSuffix: ' <%= column[:unit] %>'
          }
        <% end %>
        }<%= ',' if column != @columns.last %>
      <% end %>]
    });


</script>